<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="FSPTY-BMS.html" />
            </files>
        </defaultDocument>
		<staticContent>
			<remove fileExtension=".zip" />
            <mimeMap fileExtension=".zip" mimeType="application/zip" />
        </staticContent>    
	</system.webServer>
</configuration>
